*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.o,
.cell.x {
  cursor: not-allowed;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before{
    background-color: rgba(199, 247, 206, 0.856);
}

.cell.x::after,
.cell.x::before,
.cell.o::before{
    background-color: black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);

}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(-45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(45deg);
}

.cell.o::before,
.cell.o::after,
.board.o  .cell:not(.x):not(.o):hover::after,
.board.o  .cell:not(.x):not(.o):hover::before{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o  .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);

}

.cell.o::after,
.board.o  .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show{
    display: flex;
}


/* table styling */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 200px;
  width: 50%;
  margin: 2px;
  /* float: left; */
  /* position: relative; */
}

/* table * {
  position: relative;
} */

table td, table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: rgba(199, 247, 206, 0.856);
  font-size: 16px;
}

table tbody tr {
  height: 48px;
  text-align: center;
}


/* styling the button */
/* From cssbuttons.io */
button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgba(199, 247, 206, 0.856);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: rgba(199, 247, 206, 0.856);
 }
 
 button, button span {
  transition: 200ms;
 }
 
 button .text {
  transform: translateX(35px);
  color: rgb(0, 0, 0);
  font-weight: bold;
 }
 
 button .icon {
  position: absolute;
  border-left: 1px solid rgba(7, 7, 7, 0.856);
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-left: 35px;
 }
 
 button svg {
  width: 20px;
  fill: black;
 }
 
 button:hover {
  background: rgba(199, 247, 206, 0.856);
 }
 
 button:hover .text {
  color: transparent;
 }
 
 button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 button:focus {
  outline: none;
 }
 
 button:active .icon svg {
  transform: scale(0.8);
 }

 